
#cart {
    background-color:rgb(255, 255, 255);
};

.jumbotron {
    height: 400px;
};

.navbar-toggler {
    background-color:rgb(255, 255, 255);
}

#menu {
    background-color:rgb(205, 255, 190);
}; 